<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="pane">
            <div class="header">
                <h1>{{restaurant.name}}</h1>
            </div>

            <div class="flash">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for m in messages %}
                                <li><strong>{{m}}</strong></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>

            <a href="{{url_for('newMenuItem', restaurantId=restaurant.id)}}">Create New Menu Item</a>

            {% for i in items %}
            <div class="nameAndPrice">
                <span class="name"><p>{{i.name}}</p></span>
                <span class="price"><p>{{i.price}}</p></span>
            </div>
            <div class="description">
                <p>{{i.description}}</p>
            </div>
            <div class="editDeletePane">
                <a href="{{url_for('editMenuItem', restaurantId=restaurant.id, menuId=i.id)}}">Edit</a>
                <a href="{{url_for('deleteMenuItem', restaurantId=restaurant.id, menuId=i.id)}}">Delete</a>
            </div>
            {% endfor %}
        </div>
    </body>
</html>